# **Решение задач по основам языка Python**

# Арифметические операции

Напишите программу, которая считывает три целых числа и выводит на экран их сумму.

In [ ]:
n1, n2, n3 = map(int, input().split())
print(n1 + n2 + n3)

1 2 3
6

Напишите программу, которая считывает целое число, после чего на экран выводится следующее и предыдущее целые числа с пояснительным текстом.

In [ ]:
n = int(input())
print(f'Предыдущее: {n-1}, Текущее: {n}, Следующее: {n+1}')

5
Предыдущее: 4, Текущее: 5, Следующее: 6

Напишите программу, которая считывает целое положительное число $a$ и выводит на экран последовательность чисел $a$, $2a$, $3a$, $4a$, $5a$, разделённых запятыми.

In [1]:
n = int(input())
print(n, 2*n, 3*n, 4*n, 5*n, sep=', ')

2
2, 4, 6, 8, 10

Напишите программу, которая находит полное число метров по заданному числу сантиметров.

In [6]:
print(f'{int(input()) // 100} м')

4893843
48938 м

Напишите программу для пересчёта величины временного интервала, заданного в минутах, в величину, выраженную в часах и минутах.

In [7]:
n = int(input())
print(f'Hours: {n // 60} Minutes: {n - (n // 60)*60}')

748
Hours: 12 Minutes: 28

Напишите программу, в которой рассчитывается сумму и произведение цифр положительного трёхзначного числа.

In [8]:
n = list(input())
sum = 0
pr = 1
if int(n[0]) > 0:
    for i in range(len(n)):
        sum += int(n[i])
        pr *= int(n[i])
print(sum, pr)

344
11 48

# Условный оператор if и логические операции

Напишите программу, которая реализует деление 2-х чисел и возведение результата в куб. На вход подаются любые 2 числа. Если в знаменателе введут ноль, то результат будет следующим: «На ноль делить нельзя». В противном случае выводится итог деления чисел, возведенный в куб.

In [ ]:
n1, n2 = map(int, input().split())
if n2 == 0:
    print('На ноль делить нельзя')
else:
    result = n1 / n2
    print(f'Результат {result**3}')

45 9
Результат 125.0

Напишите программу, которая сравнивает пароль и его подтверждение. Если они совпадают, то программа выводит: «Пароль принят», иначе: «Пароль не принят».

In [ ]:
password = str(input())
new_pass = str(input())
if new_pass == password:
    print('Пароль принят')
else:
    print('Пароль не принят')

hello
hello
Пароль принят

Напишите программу, которая определяет, разрешен пользователю доступ к интернет-ресурсу или нет. На вход программе подаётся целое число — возраст пользователя. Программа должна вывести текст «Доступ разрешен» если возраст не менее 18, и «Доступ запрещен» в противном случае.

In [ ]:
n = int(input())
if n >= 18:
    print('Доступ разрешен')
else:
    print('Доступ запрещен')

19
Доступ разрешен

Напишите программу, которая принимает целое число $a$ и определяет, принадлежит ли это число интервалу $(-1; 17)$.

In [ ]:
a = int(input())
if a > -1 and a < 18:
    print('ДА')
else:
    print('НЕТ')

-20
НЕТ

Напишите программу, которая принимает целое число $a$ и определяет, принадлежит ли это число интервалам $(-\infty; -3]$ и $[7; \infty)$.

In [ ]:
a = int(input())
if a < -3 and a > 7:
    print('ДА')
else:
    print('НЕТ')

0
НЕТ

Напишите программу, которая принимает целое число $a$ и определяет, принадлежит ли это число интервалам $(-25; -4]$ и $(7; 31]$.

In [ ]:
a = int(input())
if (a > -25 and a <= -4) or (a > 7 and a <= 31):
    print('ДА')
else:
    print('НЕТ')

30
ДА

Напишите программу, которая считывает с клавиатуры два целых числа и строку. Если эта строка является обозначением одной из четырёх математических операций (+, -, *, /), то выведите результат применения этой операции к введённым ранее числам, в противном случае выведите «Неверная операция». Если пользователь захочет поделить на ноль, выведите текст «На ноль делить нельзя!».

In [15]:
a, b = map(int, input().split())
str_value = input()
if str_value == '*':
  print(a*b)
elif str_value == '-':
  print(a-b)
elif str_value == '+':
  print(a+b)
elif str_value == '/':
  if b == 0:
    print('На ноль делить нельзя!')
  else:
    print(a/b)

# Method 2
a, b = map(str, input().split())
str_value = input()
matematic_operators = ['*', '+', '-', '/']
if str_value in matematic_operators:
  for operator in matematic_operators:
    if str_value == operator and ( (operator == '/' and b != '0') or operator != '/'):
      print(eval(a+operator+b))

20 40
-
-20
20 40
-
-20

# Списки

1. Создать список, содержащий значения 1, 2, 3, 4, 5, 6, 7.

In [27]:
massive = [i for i in range(1,8)]
#massive = [1, 2, 3, 4, 5, 6, 7]
print(massive)

[1, 2, 3, 4, 5, 6, 7]

Добавить в список новый элемент "Строка" типа `str` в конец списка.

In [28]:
massive.append('Строка')
#massive += ['Строка']
print(massive)

[1, 2, 3, 4, 5, 6, 7, 'Строка']

Изменить значение элемента списка с индексом 4 на 777.

In [30]:
massive[4] = 777
print(massive)

[1, 2, 3, 4, 777, 5, 6, 7, 'Строка']

Добавить новый элемент 57 в конец списка.

In [32]:
massive.append(57)
#massive += [57]
print(massive)

[1, 2, 3, 4, 777, 5, 6, 7, 'Строка', 57]

Получить элемент списка с индексом 2.

In [ ]:
print(massive[2])

3

Получить последний элемент списка.

In [ ]:
print(massive[-1])

57

Удалить элемент списка 4.

In [34]:
massive.remove(4)
print(massive)

[1, 2, 3, 5, 6, 7, 'Строка', 57]

Найти число повторений элемента списка со значением 3.

In [ ]:
print(massive.count(3))

1

Представить список в обратном порядке:
- с помощью срезов;
- с помощью метода `reverse()`.

In [ ]:
print(massive[::-1])

[57, 'Строка', 7, 6, 777, 3, 2, 1]

In [ ]:
massive.reverse()
print(massive)

[57, 'Строка', 7, 6, 777, 3, 2, 1]

Вывести каждый 3 элемент списка начиная с первого и заканчивая предпоследним.

In [ ]:
print(massive[1:-2:3])

['Строка', 777]

# Словари

Создать словарь вида {'ID1': 'Иванов', 'ID2': 'Петров', 'ID3': 'Николаев', 'ID4': 'Сидоров'}.

In [36]:
gl = {'ID1' : 'Иванов',
      'ID2' : 'Петров',
      'ID3' : 'Николаев',
      'ID4' : 'Сидоров'
      }

Добавить в словарь новый элемент с ключом "ID5" и значением "Васин".

In [ ]:
gl['ID5'] = 'Васин'
print(gl)

{'ID1': 'Иванов', 'ID2': 'Петров', 'ID3': 'Николаев', 'ID4': 'Сидоров', 'ID5': 'Васин'}

Изменить значение словаря по ключу "ID1" на "Смирнов".

In [ ]:
gl['ID1'] = 'Смирнов'
print(gl)

{'ID1': 'Смирнов', 'ID2': 'Петров', 'ID3': 'Николаев', 'ID4': 'Сидоров', 'ID5': 'Васин'}

Удалить элемент словаря с ключом "ID2".

In [37]:
#del gl['ID2']
gl.pop('ID2')
print(gl)

Петров
{'ID1': 'Иванов', 'ID3': 'Николаев', 'ID4': 'Сидоров'}

# Строки

Создать переменную типа `str` и присвоить ей значение "Python - лучший язык для анализа данных".

In [38]:
stroka = 'Python - лучший язык для анализа данных'
print(stroka)

Python - лучший язык для анализа данных

Добавить в предложение текст "по индексу TIOBE".

In [ ]:
stroka += ' по индексу IOBE'
print(stroka)

Python - лучший язык для анализа данных по индексу IOBE

Вывести 3-ю букву предложения.

In [ ]:
print(stroka[2])

t

Вывести первые 20 букв с шагом 2.

In [ ]:
print(stroka[:20:2])

Pto  ушйяы

Сделать все буквы в слове Python прописными.

In [ ]:
print(stroka.lower())

python - лучший язык для анализа данных по индексу iobe

Проверить, есть ли в строке слово "PYTHON". Если да, то напечатать "Слово встречается в предложении". В противном случае - "Такого слова в предложении нет".

In [39]:
if 'PYTHON' in stroka:
    print("Слово встречается в предложении")
else:
    print("Такого слова в предложении нет")

# Method 2
if stroka.find('PYTHON') != -1:
  print("Слово встречается в предложении")
else:
    print("Такого слова в предложении нет")

Такого слова в предложении нет
Такого слова в предложении нет

Сформировать список, включающий все слова предложения.

In [ ]:
massive = list(stroka.split(' '))
print(massive)

['Python', '-', 'лучший', 'язык', 'для', 'анализа', 'данных', 'по', 'индексу', 'IOBE']

Заданые строки необходимо объединить их в одно предложение.

In [41]:
s1 = 'Анализ'
s2 = 'данных'
s3 = 'и'
s4 = 'машинное'
s5 = 'обучение'

In [43]:
print(f'{s1} {s2} {s3} {s4} {s5}')

Анализ данных и машинное обучение

# Циклы

Написать программу вычисляющую сумму чисел от 0 до $n$. Число $n$ вводится пользователем с клавиатуры.

In [45]:
n = int(input())
masive = [i for i in range(n+1)]
sum = 0
for i in masive:
  sum += i
print(sum)

100
5050

Написать программу вычисляющую сумму сумму четных чисел от 0 до $n$. Число $n$ вводится пользователем с клавиатуры.

In [ ]:
n = int(input())
masive = [i for i in range(0, n+1, 2)]
sum = 0
for i in masive:
  sum += i
print(sum)

100
2550

Напечатать числа от 5 до -5.

In [ ]:
print([i for i in range(-5, 6)])

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

Дан список lst = [11, 5, 8, 32, 15, 3, 20, 132, 21, 4, 555, 9, 20].

Необходимо вывести элементы, которые одновременно меньше 30 и делятся на 3 без остатка. Все остальные элементы списка необходимо просуммировать и вывести конечный результат.

In [ ]:
lst = [11, 5, 8, 32, 15, 3, 20, 132, 21, 4, 555, 9, 20]
sum = 0
for i in lst:
  sum += i
  if i < 30 and i % 3 == 0:
    print(i, end=', ')

print('sum =', sum)

15, 3, 21, 9, sum = 835

Написать программу, которая перебирает строку, находит в ней все цифры  и выводит их на экран. Можно использовать метод `isdigit()`.

In [ ]:
str_value = input()
for i in str_value:
  if i.isdigit():
    print(i)

privet9d
9

Написать программу, которая удалаяет из заданной строки лишние символы.

In [ ]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
st = "Методы!!!, машинного ---обучения."

s = ''
for i in st:
    if i not in punctuations:
        s += i
print(s)

Методы машинного обучения

# Функции

Написать функцию расчета Евклидова расстояния между двумя точками в $n$-мерном пространстве:

$$d = \sqrt{(x_1-y_1)^2+...+(x_n-y_n)^2}$$

In [ ]:
import math as m
def evklid(n1, n2):
    d = m.sqrt((n1 - n2)**2)
    return d
print(evklid(1, 2))

1.0

Написать функцию вычисления многочлена степени $n$:

$$y = c_0+c_1 \cdot x_1+c_2 \cdot x_2^2...+c_n \cdot x_n^n$$

На вход функция принимает список коэффициентов (coefficients) и значение аргумента $x$.

In [ ]:
def mnogochlen(massive, x):
    n_massive = [n for n in range(len(massive))]
    y = massive[0]
    for i in range(1, len(massive)):
        y += massive[i]* (x** n_massive[i])
    return y
print(mnogochlen([2, 2, 4], 2))

22

Написать функцию вычисления квадратов заданных чисел. Использовать функцию `map` и анономную функцию.

In [ ]:
list_elements = [1, 3, 4, 5, 6]
func = map(lambda x: x**2, list_elements)
print(list(func))

[1, 9, 16, 25, 36]

Написать функцию фильтрации положительных чисел. Использовать функцию `filter` и анонимную функцию.

In [ ]:
list_elements = [1, -3, 4, -5, 6, 0, -239, 39284, -923]
func = filter(lambda x: x>0, list_elements)
print(list(func))

[1, 4, 6, 39284]